.input-form {
  margin-top: 60px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.form-group {
  margin-top: 10px;
}

.example-action-buttons {
  margin-bottom: 20px;
}
