<div class="container">
  <div class="card">
    <div class="heading">
      <h4 class="text-center">[Your Name]</h4>
      <h4 class="text-center">[Email Address],</h4>
      <h4 class="text-center">[Mobile Number]</h4>
    </div>
    <hr />
    <div class="main">
      <p>[Hiring Manager Name],</p>
      <p>[Company Address],</p>
      <p>[City,State,Postal Code].</p>

      <div>
        <p>Dear [Hiring Manager],</p>
        <p>
          I am writing this letter and enclosing my resume to apply for the
          position of [job title] with [company]. This position came to my
          attention through LinkedIn. After reviewing my resume, I strongly
          believe I am a qualified candidate for this position.
        </p>

        <p>
          I have attached my resume for your review and would welcome the chance
          to speak with you sometime.
        </p>

        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum
        </p>
        <hr />
        <p>Best Regards,</p>
        <p>[Name]</p>
      </div>
    </div>
  </div>
</div>
