<!-- <p>tools works!</p>  -->
<mat-sidenav-container class="example-container">
  <mat-sidenav
    style="background-color: black; color: white; width: 25%; cursor: pointer"
    #sidenav
    mode="side"
  >
    <!-- [(opened)]="opened"
        (opened)="events.push('open!')" (closed)="events.push('close!')" Sidenav
    content -->

    <h2 (click)="showResumeOptions = !showResumeOptions">Resume</h2>
    <br />
    <ul *ngIf="showResumeOptions == true">
      <li (click)="display = 'resumeTemplate'">Templates</li>
      <li>Related Articles</li>
    </ul>
    <br />
    <h2 (click)="showCVOptins = !showCVOptins">CV</h2>
    <br />
    <ul *ngIf="showCVOptins == true">
      <li (click)="display = 'cvTemplate'">Templates</li>
      <li>Related Articles</li>
    </ul>
    <br />
    <h2 (click)="showCoverLetterOptions = !showCoverLetterOptions">
      Cover Letters
    </h2>
    <br />
    <ul *ngIf="showCoverLetterOptions == true">
      <li (click)="display = 'CoverLetterTemplate'">Templates</li>
    </ul>
    <br />
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>  -->
    <h3>
      <button mat-button (click)="sidenav.toggle()">
        <h2 *ngIf="sidenav.opened == false; else elseblock">→</h2>
        <ng-template #elseblock>
          <h2>←</h2>
        </ng-template>
      </button>
      Choose Templates
    </h3>
    <!-- <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{ e }}</div>
    </div> -->
    <!-- <div class="data-source-example">
          <span *ngFor="let item of items" class="example-item">
            <img src="{{ item }}" alt="image" />
          </span>
      </div> -->
    <div *ngIf="display == 'resumeTemplate'" class="scrolling-wrapper">
      <div class="card" id="res1" #res1>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/resumetemplate1.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(res1.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="res2" #res2>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/resumetemplate2.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(res2.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="res3" #res3>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/resumetemplate3.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(res3.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="res4" #res4>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/resumetemplate4.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(res4.id)"
          >
            Use Template
          </button>
        </span>
      </div>
    </div>

    <div *ngIf="display == 'cvTemplate'" class="scrolling-wrapper">
      <div class="card" id="cv1" #cv1>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cvtemplate1.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(cv1.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="cv2" #cv2>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cvtemplate2.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(cv2.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="cv3" #cv3>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cvtemplate3.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(cv3.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="cv4" #cv4>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cvtemplate4.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(cv4.id)"
          >
            Use Template
          </button>
        </span>
      </div>
    </div>

    <div *ngIf="display == 'CoverLetterTemplate'" class="scrolling-wrapper">
      <div class="card" id="cl1" #cl1>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cltemplate1.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(cl1.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="cl2" #cl2>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cltemplate2.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(cl2.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="cl3" #cl3>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cltemplate3.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(cl3.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <!-- <div class="card" id="cl4" #cl4>
        <span class="vertical-center">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cltemplate4.png"
          />
            <button *ngIf="sidenav.opened == false" class="btn" (click)="redirectTo(cl4.id)">Use Template</button>
        </span>
      </div> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>-->
