<!-- <p>tools works!</p>  -->
<mat-sidenav-container class="example-container">
  <mat-sidenav
    style="background-color: black; color: white; width: 25%; cursor: pointer"
    #sidenav
    mode="side"
  >
    <!-- [(opened)]="opened"
        (opened)="events.push('open!')" (closed)="events.push('close!')" Sidenav
    content -->

    <h2 (click)="showResumeOptions = !showResumeOptions">Resume</h2>
    <br />
    <ul *ngIf="showResumeOptions == true">
      <li (click)="display = 'resumeTemplate'">Templates</li>
      <li>Related Articles</li>
    </ul>
    <br />
    <h2 (click)="showCVOptins = !showCVOptins">CV</h2>
    <br />
    <ul *ngIf="showCVOptins == true">
      <li (click)="display = 'cvTemplate'">Templates</li>
      <li>Related Articles</li>
    </ul>
    <br />
    <h2 (click)="showCoverLetterOptions = !showCoverLetterOptions">
      Cover Letters
    </h2>
    <br />
    <ul *ngIf="showCoverLetterOptions == true">
      <li (click)="display = 'CoverLetterTemplate'">Templates</li>
    </ul>
    <br />
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>  -->
    <h3>
      <button mat-button (click)="sidenav.toggle()">
        <h2 *ngIf="sidenav.opened == false; else elseblock">→</h2>
        <ng-template #elseblock>
          <h2>←</h2>
        </ng-template>
      </button>
      Choose Templates
    </h3>
    <!-- <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{ e }}</div>
    </div> -->
    <!-- <div class="data-source-example">
          <span *ngFor="let item of items" class="example-item">
            <img src="{{ item }}" alt="image" />
          </span>
      </div> -->
    <div *ngIf="display == 'resumeTemplate'" class="scrolling-wrapper">
      <div class="card" id="res1" #res1>
        <span>
          <img
            style="width: 100%; height: 100%"
            src="../assets/resumetemplate1.png"
          />
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(res1.id)">Use Template</button>
          </div>
        </span>
      </div>
      <div class="card" id="res2" #res2>
        <span>
          <img
            style="width: 100%; height: 100%"
            src="../assets/resumetemplate2.png"
          />
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(res2.id)">Use Template</button>
          </div>
        </span>
      </div>
      <div class="card" id="res3" #res3>
        <span>
          <img
            style="width: 100%; height: 100%"
            src="../assets/resumetemplate3.png"
          />
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(res3.id)">Use Template</button>
          </div>
        </span>
      </div>
      <div class="card" id="res4" #res4>
        <span>
          <img
            style="width: 100%; height: 100%"
            src="../assets/resumetemplate4.png"
          />
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(res4.id)">Use Template</button>
          </div>
        </span>
      </div>
    </div>

    <div *ngIf="display == 'cvTemplate'" class="scrolling-wrapper">
      <div class="card" id="cv1" #cv1>
        <!-- <span>
          <img
            style="width: 100%; height: 100%"
            src="../assets/cvtemplate1.png"
          />
          <!-- <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(cv1.id)">Use Template</button>
          </div>
        </span> -->
        <span class="cardData">
          <img
            style="width: 100%; height: 100%"
            src="../assets/cvtemplate1.png"
          />
          <button
            *ngIf="sidenav.opened == false"
            class="btn"
            (click)="redirectTo(cv1.id)"
          >
            Use Template
          </button>
        </span>
      </div>
      <div class="card" id="cv2" #cv2>
        <span
          >CV template
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(cv2.id)">Use Template</button>
          </div>
        </span>
      </div>
      <div class="card">
        <span
          >CV template
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(cv1.id)">Use Template</button>
          </div>
        </span>
      </div>
      <div class="card">
        <span
          >CV template
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(cv1.id)">Use Template</button>
          </div>
        </span>
      </div>
    </div>

    <div *ngIf="display == 'CoverLetterTemplate'" class="scrolling-wrapper">
      <div class="card" id="cl1" #cl1>
        <span
          >Cover Letter template
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(cl1.id)">Use Template</button>
          </div>
        </span>
      </div>
      <div class="card">
        <span
          >Cover Letter template
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(cl1.id)">Use Template</button>
          </div>
        </span>
      </div>
      <div class="card">
        <span
          >Cover Letter template
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(cl1.id)">Use Template</button>
          </div>
        </span>
      </div>
      <div class="card">
        <span
          >Cover Letter template
          <div *ngIf="sidenav.opened == false" class="vertical-center">
            <button (click)="redirectTo(cl1.id)">Use Template</button>
          </div>
        </span>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>-->
