.fab-container {
  position: fixed;
  bottom: 50px;
  right: 60px;
  width: 10%;
  height: 82%;
  cursor: pointer;
}

.iconbutton {
  border-radius: 5%;
  background: #ff4f79;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.button {
  height: 15%;
  width: 120%;
  background: #130101;
}

.iconbutton i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

body {
  background: #1b1b25;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}
.separator {
  width: 30%;
}
.title {
  margin-top: 100px;
  margin-bottom: 10px;
}
.title a {
  color: #db4d57;
}
.title a:hover {
  text-decoration: none;
  font-weight: bold;
}
.title hr {
  width: 75%;
}
.summary {
  padding: 20px;
}
.summary p {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
.work-experience {
  padding: 20px;
}
.work-experience .experience-title {
  margin-top: 50px;
}
.work-experience .experience-summary {
  margin-top: 30px;
  margin-bottom: 50px;
}
.work-experience p {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
}
