<!DOCTYPE html>
<head>
  <link rel="shortcut icon" href="иконка.ico" />
  <style>
    a {
      color: #2287c9;
      text-decoration: underline;
    }

    a:active {
      color: #2287c9;
      text-decoration: underline;
    }

    a:visited {
      color: #2287c9;
      text-decoration: underline;
    }

    a:hover {
      color: #339900;
      text-decoration: underline;
    }
  </style>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900"
    rel="stylesheet"
  />
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
    integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
    crossorigin="anonymous"
  ></script>
  <!-- <link id="theme-style" rel="stylesheet" href="assets/css/pillar-1.css" /> -->
  <base target="_blank" />
</head>
<body>
  <article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
      <header class="resume-header pt-4 pt-md-0">
        <div class="media flex-column flex-md-row">
          <a href="https://imgbb.com/"
            ><img
              src="../assets/resume-image.png"
              alt="image"
              border="0"
              width="220"
              height="220"
          /></a>

          <div
            class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0"
          >
            <div class="primary-info">
              <h1
                class="name mt-0 mb-1 text-white text-uppercase text-uppercase"
              >
                {{ details.fname }} {{ details.mname }} {{ details.lname }}
              </h1>
              <!-- <div class="title mb-3">Редактор</div> -->
              <ul class="list-unstyled">
                <li class="mb-2">
                  <a href="mailto:zveryanovstanis@gmail.com"
                    ><i
                      class="far fa-envelope fa-fw mr-2"
                      data-fa-transform="grow-3"
                    ></i
                    >{{ details.email }}</a
                  >
                </li>
                <li>
                  <a
                    ><i
                      class="fas fa-mobile-alt fa-fw mr-2"
                      data-fa-transform="grow-6"
                    ></i
                    >{{ details.phoneno }}</a
                  >
                </li>
                <li>
                  <div *ngFor="let userLink of details.links; let i = index">
                    <div class="info-section link">
                      <i class="fab fa-github"></i>
                      <a target="_blank" rel="author">
                        <span
                          >{{ details.linkWebsite[i] }}:
                          {{ details.links[i] }}</span
                        >
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="secondary-info ml-md-auto mt-2">
              <ul class="resume-social list-unstyled">
                <li class="mb-3">
                  <a href="https://t-do.ru/shcok7"
                    ><span class="fa-container text-center mr-2"
                      ><i class="fab fa-telegram-plane fa-fw"></i></span
                    >{{ details.city }}</a
                  >
                </li>

                <li class="mb-3">
                  <a href="https://behance.net/twstrblg"
                    ><span class="fa-container text-center mr-2"
                      ><i class="fab fa-behance fa-fw"></i></span
                    >{{ details.state }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="resume-body p-5">
        <section class="resume-section summary-section mb-5">
          <h2
            class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
          >
            Objective
          </h2>
          <div class="resume-section-content">
            <p class="mb-0">
              {{ details.objective }}
            </p>
          </div>
        </section>
        <div class="row">
          <div class="col-lg-9">
            <section class="resume-section experience-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Experiences
              </h2>
              <div class="resume-section-content">
                <div class="resume-timeline position-relative">
                  <h3 *ngIf="details.jobCompanyName.length != 0">Jobs</h3>
                  <article
                    class="resume-timeline-item position-relative pb-5"
                    *ngFor="
                      let userJobCompanyName of details.jobCompanyName;
                      let i = index
                    "
                  >
                    <div class="resume-timeline-item-header mb-2">
                      <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">
                          {{ details.jobRole }}
                        </h3>
                        <div class="resume-company-name ml-auto">
                          {{ details.jobCompanyName }}
                        </div>
                      </div>
                      <!-- <div class="resume-position-time">2018 — 2019</div> -->
                    </div>
                    <!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                      <p>{{details.jobDescription}</p>
                    </div>
                  </article>
                  <h3 *ngIf="details.internshipCompanyName.length != 0">Internships</h3>
                    <article
                      class="resume-timeline-item position-relative pb-5"
                      *ngFor="
                        let userJobCompanyName of details.internshipCompanyName;
                        let i = index
                      "
                    >
                      <div class="resume-timeline-item-header mb-2">
                        <div class="d-flex flex-column flex-md-row">
                          <h3
                            class="resume-position-title font-weight-bold mb-1"
                          >
                            {{ details.internshipDesignation }}
                          </h3>
                          <div class="resume-company-name ml-auto">
                            {{ details.internshipCompanyName }}
                          </div>
                        </div>
                        <!-- <div class="resume-position-time">2018 — 2019</div> -->
                      </div>
                      <!--//resume-timeline-item-header-->
                      <div class="resume-timeline-item-desc">
                        <p>{{details.internshipDescription}</p>
                      </div>
                    </article>
                </div>
              </div>
            </section>
          </div>
          <div class="col-lg-3">
            <section class="resume-section skills-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Skills
              </h2>
              <div class="resume-section-content">
                <div class="resume-skill-item">
                  <!-- <h4 class="resume-skills-cat font-weight-bold">В Адоуб</h4> -->
                  <ul
                    class="list-unstyled mb-4"
                    *ngFor="let userSkill of details.skills; let i = index"
                  >
                    <li>
                      {{ userSkill }}&nbsp;&nbsp;&nbsp;
                      <mat-slider
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="1"
                        step="1"
                        min="1"
                        max="3"
                        aria-label="units"
                        [(ngModel)]="value[i]"
                      ></mat-slider
                      >&nbsp;&nbsp;&nbsp;
                      <p style="color: rgb(189, 51, 74)">
                        {{ valueLabel[value[i] - 1] }}
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <section class="resume-section education-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Education
              </h2>
              <div class="resume-section-content">
                <ul
                  class="list-unstyled"
                  *ngFor="let userEducation of details.degree; let i = index"
                >
                  <li class="mb-2">
                    <div class="resume-degree font-weight-bold">
                      {{ details.degree[i] }}
                    </div>
                    <div class="resume-degree-org">
                      {{ details.school[i] }}, {{ details.cities[i] }}
                    </div>
                    <div class="resume-degree-time">
                      {{ details.educationStartDate[i] }} -
                      {{ details.educationEndDate[i] }}
                    </div>
                  </li>
                </ul>
              </div>
            </section>
            <section class="resume-section reference-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Certifications
              </h2>
              <div class="resume-section-content">
                <ul
                  class="list-unstyled resume-awards-list"
                  *ngFor="let userCertificates of details.certificateTitle"
                >
                  <li class="mb-2 pl-4 position-relative">
                    <div class="resume-award-name">{{ userCertificates }}</div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </article>
</body>
