<!-- <p>input-page works!</p> -->
<div class="card">
  <div>
    <figure class="text-center">
      <h2
        style="
          font-size: 50px;
          background-color: black;
          color: white;
          margin-left: 5%;
          margin-right: 5%;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
      >
        Fill your details
      </h2>
    </figure>
  </div>
  <div>
    <mat-horizontal-stepper>
      <mat-step label="Personal Details">
        <form class="example-form">
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>First Name</mat-label>
            <input
              matInput
              type="text"
              name="fname"
              [(ngModel)]="fname"
              value="{{ fname }}"
            />
            <button
              *ngIf="fname"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="fname = ''"
            >
              <mat-icon>close</mat-icon>
            </button> </mat-form-field
          >&nbsp;&nbsp;

          <mat-form-field
            class="example-form-field"
            appearance="fill"
            *ngIf="addMiddleName == true"
          >
            <mat-label>Middle Name</mat-label>
            <input
              matInput
              type="text"
              name="mname"
              [(ngModel)]="mname"
              value="{{ mname }}"
            />
            <button
              *ngIf="mname"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="mname = ''"
            >
              <mat-icon>close</mat-icon>
            </button> </mat-form-field
          >&nbsp;&nbsp;

          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              type="text"
              name="lname"
              [(ngModel)]="lname"
              value="{{ lname }}"
            />
            <button
              *ngIf="lname"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="lname = ''"
            >
              <mat-icon>close</mat-icon>
            </button> </mat-form-field
          >&nbsp;&nbsp;&nbsp;
          <span *ngIf="addMiddleName==false">
            <button matSuffix (click)="addMiddleName = true">
              +
            </button>
            <span> Add middle name</span>
          </span>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              [formControl]="emailFormControl"
              placeholder="Ex. pat@example.com"
              [(ngModel)]="email"
              name="email"
              value="{{ email }}"
            />
            <mat-error
              *ngIf="
                emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')
              "
            >
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone number</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input
              type="tel"
              matInput
              placeholder="555-555-1234"
              [(ngModel)]="phoneno"
              value="{{ phoneno }}"
              name="phoneno"
            />
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>

          <!-- <mat-form-field> -->
          <!-- <mat-label>Select your state</mat-label> -->
          <select
            style="font-size: 100%"
            name="state"
            id="state"
            class="form-control"
            (change)="setState($event)"
            name="sname"
            ngModel
            #sname="ngModel"
            [class.is-invalid]="SValue && sname.touched"
            (blur)="selectValidate(sname.value)"
            (change)="selectValidate(sname.touched)"
          >
            <small
              class="text-danger"
              [class.d-none]="sname.valid || sname.untouched"
              >State Required</small
            >
            <option value="">Select your state</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Andaman and Nicobar Islands">
              Andaman and Nicobar Islands
            </option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadar and Nagar Haveli">
              Dadar and Nagar Haveli
            </option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option></select
          ><br />
          <!-- </mat-form-field> -->

          <!-- <mat-form-field> -->
          <section class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Select your city"
              name="city"
              [(ngModel)]="selectedCity"
              #city="ngModel"
              required
              [class.is-invalid]="city.invalid && city.touched"
              style="font-size: 100%"
            />
            <small
              class="text-danger"
              [class.d-none]="city.valid || city.untouched"
              >enter city</small
            >
            <span class="form-label"></span>
          </section>
          <br />
          <!-- </mat-form-field> -->

          <section>
            <section
              class="showLinks"
              *ngFor="let row of linkRows; let i = index"
            >
              <mat-form-field appearance="fill">
                <mat-label>Choose a website</mat-label>
                <mat-select [(ngModel)]="linkWebsite[i]" name="linkWebsite">
                  <mat-option value="linkedIn">LinkedIn</mat-option>
                  <mat-option value="Github">Github</mat-option>
                </mat-select> </mat-form-field
              >&nbsp;&nbsp;

              <mat-form-field
                class="example-form-field"
                appearance="fill"
                style="width: 50%"
              >
                <input
                  type="text"
                  matInput
                  placeholder="Enter your website's link"
                  [(ngModel)]="links[i]"
                  name="links"
                />
                <button matSuffix (click)="remove()">
                  --
                </button> </mat-form-field
              >&nbsp;&nbsp;
            </section>

            <button matSuffix (click)="add()">+</button>
            <span> Add more links</span>&nbsp;&nbsp;&nbsp;
          </section>
          <br />

          <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Add your skills</mat-label>
            <mat-chip-list #chipList aria-label="Skills selection">
              <mat-chip
                *ngFor="let skill of skills"
                (removed)="removeSkills(skill)"
              >
                {{ skill.name }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="New skill..."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addSkills($event)"
              />
            </mat-chip-list>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Objective/ Description</mat-label>
            <textarea
              matInput
              placeholder="Tell us about yourself"
              name="objective"
              [(ngModel)]="objective"
              value="{{ objective }}"
            ></textarea>
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step label="Education & Certifications">
        <mat-accordion>
          <mat-expansion-panel
            class="mat-expansion-panel"
            *ngFor="let row of eduRows; let i = index"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button *ngIf="i != 0" matSuffix (click)="removeEducation()">
                  <mat-icon>delete</mat-icon>
                </button>
                &nbsp;&nbsp;&nbsp; Education &nbsp;&nbsp;&nbsp;
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <form class="row g-3">
                <div class="col-md-6">
                  <label class="form-label">Degree</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="degree[i]"
                    name="degree"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">School/University</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="school[i]"
                    name="school"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    name="cities"
                    [(ngModel)]="cities[i]"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">Start Date</label>
                  <input
                    type="date"
                    class="form-control"
                    name="educationStartDate"
                    [(ngModel)]="educationStartDate[i]"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">End Date</label>
                  <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="educationEndDate[i]"
                    name="educationEndDate"
                  />
                </div>
              </form></div
          ></mat-expansion-panel> </mat-accordion
        ><br />
        <a (click)="addEducation()">+ Add Education</a><br /><br />

        <mat-accordion>
          <mat-expansion-panel
            class="mat-expansion-panel"
            *ngFor="let row of projectRows; let i = index"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button *ngIf="i != 0" matSuffix (click)="removeProjects()">
                  <mat-icon>delete</mat-icon>
                </button>
                &nbsp;&nbsp;&nbsp; Projects &nbsp;&nbsp;&nbsp;
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <form class="row g-3">
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Title"
                    name="title"
                    [(ngModel)]="projectTitle[i]"
                  />
                </div>
                <div class="col-md-6">
                  <textarea
                    class="form-control"
                    placeholder="Description"
                    [(ngModel)]="projectDescription[i]"
                    name="description"
                  ></textarea>
                </div>
                 <div class="col-md-6">
                  <label class="form-label">Start Date</label>
                  <input
                    type="date"
                    class="form-control"
                    name="projectStartDate"
                    [(ngModel)]="projectStartDate"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">End Date</label>
                  <input
                    type="date"
                    class="form-control"
                    name="projectEndDate"
                    [(ngModel)]="projectEndDate"
                  />
                </div>
              </form></div
          ></mat-expansion-panel> </mat-accordion
        ><br />
        <a (click)="addProjects()">+ Add Projects</a><br /><br />

        <mat-accordion>
          <mat-expansion-panel
            class="mat-expansion-panel"
            *ngFor="let row of certificateRows; let i = index"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <button *ngIf="i != 0" matSuffix (click)="removeCertificates()">
                  <mat-icon>delete</mat-icon>
                </button>
                &nbsp;&nbsp;&nbsp; Certifications &nbsp;&nbsp;&nbsp;
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <form class="row g-3">
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Title"
                    name="certificateTitle"
                    [(ngModel)]="certificateTitle[i]"
                  />
                </div>
              </form></div
          ></mat-expansion-panel> </mat-accordion
        ><br />
        <a (click)="addCertificates()">+ Add Certificates</a>
      </mat-step>

      <mat-step label="Hands-on Experience">
        <mat-tab-group>
          <mat-tab label="Internships">
            <section *ngFor="let row of internshipRows; let i = index">
              <mat-card class="example-card">
                <mat-card-title>
                  <input
                    matInput
                    type="text"
                    placeholder="Company Name"
                    name="companyName"
                    [(ngModel)]="internshipCompanyName[i]"
                  />
                </mat-card-title>
                <mat-card-subtitle>
                  <input
                    matInput
                    type="text"
                    placeholder="Designation"
                    name="internshipDesignation"
                    [(ngModel)]="internshipDesignation[i]"
                  />
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea
                      matInput
                      name="internshipDescription"
                      [(ngModel)]="internshipDescription[i]"
                    ></textarea>
                  </mat-form-field>
                </mat-card-content>
                <button (click)="removeInternships()" style="float: right">
                  <mat-icon>delete</mat-icon>
                </button> </mat-card
              ><br />
            </section>
            <br />
            <a (click)="addInternships()">Add More...</a>
          </mat-tab>
          <mat-tab label="Jobs">
            <section *ngFor="let row of jobRows; let i = index">
              <mat-card class="example-card">
                <mat-card-title>
                  <input
                    matInput
                    type="text"
                    placeholder="Company Name"
                    name="jobCompanyName"
                    [(ngModel)]="jobCompanyName[i]"
                  />
                </mat-card-title>
                <mat-card-subtitle>
                  <input
                    matInput
                    type="text"
                    placeholder="Job Role"
                    name="jobRole"
                    [(ngModel)]="jobRole[i]"
                  />
                </mat-card-subtitle>
                <mat-card-content>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea
                      matInput
                      name="jobDescription"
                      [(ngModel)]="jobDescription[i]"
                    ></textarea>
                  </mat-form-field>
                </mat-card-content>
                <button (click)="removeJobs()" style="float: right">
                  <mat-icon>delete</mat-icon>
                </button> </mat-card
              ><br />
            </section>
            <br />
            <a (click)="addJobs()">Add More...</a>
          </mat-tab>
        </mat-tab-group>
        <br />
        <button
          class="btn btn-danger"
          style="margin-left: 85%"
          (click)="createCV()"
        >
          Create CV
        </button>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
