<!-- Personal Details -->

<mat-card class="example-card">
  <div *ngIf="show == 'step1'">
    <form #detailsForm="ngForm" action="">
      <div class="mb-3">
        <input
          type="file"
          class="form-control"
          name="img"
          aria-label="file example"
          required
          #img
        />
        <div class="invalid-feedback">Example invalid form file feedback</div>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">First Name</span>
        <input
          type="text"
          class="form-control"
          placeholder="first name"
          aria-label="fname"
          aria-describedby="basic-addon1"
          #fname
          required
        />

        <span class="input-group-text" id="basic-addon1">Last Name</span>
        <input
          type="text"
          aria-label="Last name"
          placeholder="last name"
          class="form-control"
          #lname
          required
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Email</span>
        <input
          type="text"
          class="form-control"
          placeholder="Recipient's email"
          aria-label="Recipient's Email"
          aria-describedby="basic-addon2"
          #Email
          required
        />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon2">Phone Number</span>
        <input
          type="text"
          class="form-control"
          placeholder="Recipient's contact"
          aria-label="Recipient's contact"
          aria-describedby="basic-addon2"
          #phone
          required
        />
      </div>

      <div>
        <select
          style="font-size: 100%"
          name="state"
          id="state"
          class="form-control"
          (change)="SetDropDownValue($event)"
          name="sname"
          ngModel
          #sname="ngModel"
          [class.is-invalid]="SValue && sname.touched"
          (blur)="selectValidate(sname.value)"
          (change)="selectValidate(sname.touched)"
        >
          <small
            class="text-danger"
            [class.d-none]="sname.valid || sname.untouched"
            >State Required</small
          >
          <option value="">Select your state</option>
          <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Andaman and Nicobar Islands">
            Andaman and Nicobar Islands
          </option>
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
          <option value="Daman and Diu">Daman and Diu</option>
          <option value="Delhi">Delhi</option>
          <option value="Lakshadweep">Lakshadweep</option>
          <option value="Puducherry">Puducherry</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Himachal Pradesh">Himachal Pradesh</option>
          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
          <option value="Jharkhand">Jharkhand</option>
          <option value="Karnataka">Karnataka</option>
          <option value="Kerala">Kerala</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Manipur">Manipur</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Odisha">Odisha</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Telangana">Telangana</option>
          <option value="Tripura">Tripura</option>
          <option value="Uttar Pradesh">Uttar Pradesh</option>
          <option value="Uttarakhand">Uttarakhand</option>
          <option value="West Bengal">West Bengal</option>
        </select>
      </div>
      <br />
      <!-- </mat-form-field> -->

      <!-- <mat-form-field> -->
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          placeholder="Select your city"
          name="city"
          ngModel
          #city="ngModel"
          required
          [class.is-invalid]="city.invalid && city.touched"
          style="font-size: 100%"
        />
        <small class="text-danger" [class.d-none]="city.valid || city.untouched"
          >enter city</small
        >
        <span class="form-label"></span>
      </div>
      <br />

      <label for="basic-url" class="form-label">Your github URL</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3"
          >https://example.com/users/</span
        >
        <input
          type="text"
          class="form-control"
          id="basic-url"
          name="url"
          aria-describedby="basic-addon3"
          required
          #url
        />
      </div>

      <div class="input-group">
        <span class="input-group-text">HeadLine</span>
        <textarea
          class="form-control"
          aria-label="With textarea"
          #headline
        ></textarea>
      </div>
      <br />
      <div class>
        <button
          class="btn btn-danger"
          [disabled]="detailsForm.form.invalid"
          (click)="
            save(
              img.value,
              fname.value,
              lname.value,
              phone.value,
              url.value,
              headline.value
            )
          "
        >
          Save and Proceed
        </button>
      </div>
    </form>
    <!-- </mat-card> -->
  </div>

  <!-- Education -->
  <div *ngIf="show == 'step2'">
    <!-- <mat-card class="example-card " *ngIf="show=='step2'"> -->
    <mat-accordion>
      <mat-expansion-panel
        class="mat-expansion-panel"
        *ngFor="let row of rows; let i = index"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <!-- <button matSuffix (click)="addEdu()">
              <mat-icon>note_add</mat-icon>
            </button>
            &nbsp;&nbsp;&nbsp; Education &nbsp;&nbsp;&nbsp;
            <button *ngIf="i != 0" id="{{ i }}" matSuffix (click)="removeEdu()">
              <mat-icon>delete</mat-icon>
            </button> -->
            <button type="button" (click)="addEducation()"><mat-icon>note_add</mat-icon></button> 
            &nbsp;&nbsp;&nbsp; Education &nbsp;&nbsp;&nbsp;
            <button *ngIf="i != 0" id="{{ i }}" matSuffix (click)="removeP()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <form class="row g-3" *ngFor="let ed of edu;let i=index">
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Course</label>
              <input type="text" class="form-control" id="edu" name="course_{{i}}" [(ngModel)]="ed.course"  />
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label"
                >School/University</label
              >
              <input type="text" class="form-control" id="uni" name="school_{{i}}" [(ngModel)]="ed.school"/>
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                placeholder="enter city"
                name="city_{{i}}"
                [(ngModel)]="ed.city"
              />
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="sdate" name="sdate_{{i}}" [(ngModel)]="ed.sdate" />
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">End Date</label>
              <input type="date" class="form-control" id="edate" name="edate_{{i}}" [(ngModel)]="ed.edate" />
            </div>
            <div class="col-12">
              <button (click)="submit()">Save</button>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Skill -->

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Skill </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <form class="row g-3">
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"
                ><mat-icon>subject</mat-icon></span
              >
              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>skill</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let fruit of fruits"
                    (removed)="remove(fruit)"
                  >
                    {{ fruit.name }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="skill..."
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-list>
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Projects -->

    <mat-accordion>
      <mat-expansion-panel
        class="mat-expansion-panel"
        *ngFor="let row of row; let i = index"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <button type="button" (click)="addProjects()"><mat-icon>note_add</mat-icon></button> 
            &nbsp;&nbsp;&nbsp; Projects &nbsp;&nbsp;&nbsp;
            <button *ngIf="i != 0" id="{{ i }}" matSuffix (click)="removeP()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="mb-3" *ngFor="let pro of proj;let i=index">
          <label for="exampleFormControlInput1" class="form-label"
            >Project Title</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            name="title_{{i}}"
            [(ngModel)]="pro.title"
          />
          <label for="exampleFormControlTextarea1" class="form-label"
            >Project Description</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="desc_{{i}}"
            [(ngModel)]="pro.desc"
          ></textarea>
          
          <div class="col-12">
            <button (click)="submit()">Save</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Interests -->

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Interests </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <form class="row g-3">
            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"
                ><mat-icon>subject</mat-icon></span
              >
              <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Interests</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip
                    *ngFor="let fruit of fruits"
                    (removed)="remove(fruit)"
                  >
                    {{ fruit.name }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input
                    placeholder="skill..."
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-list>
              </mat-form-field>
            </div>
          </form>
        </div>
      </mat-expansion-panel> </mat-accordion
    ><br /><br />
    <button class="btn btn-danger" (click)="createResume()">
      Create Resume
    </button>
  </div>
</mat-card>
