<div class="container">
  <div class="heading">
    <h4 class="text-center">[Your Name]</h4>
    <h4 class="text-center">[Email Address]</h4>
    <h4 class="text-center">[Phone Number]</h4>
  </div>

  <div class="main">
    <h5 class="t1">[Date]</h5>

    <div class="content">
      <h5>[Hiring Manager Name],</h5>
      <h5>[Company name],</h5>
      <h5>[Company address],</h5>
      <h5>[City,State,Zip code]</h5>

      <br />
      <h5>Subject: Application for position of [job title].</h5>

      <br />
      <h5>Dear Mr./Mrs [Recruiter Name],</h5>

      <h5 class="para">
        As a highly motivated and dedicated person with strong communication and
        interpersonal skills, I would like to apply for the position of
        [job_title] at [company_name]. I enjoy working with like-minded people
        and I am ready to become a team player at [company_name]<!-- company name-->.
        I love a challenge and I know I can help take your social media presence
        to the next level.
      </h5>
      <h5 class="para">
        I understand that you will receive a large number of applications for
        this role. I do, however, believe that my motivation, commitment and
        pre-existing skills will allow me to fit into your work environment and
        immediately start supporting the needs of your organisation.
      </h5>
      <h5 class="para">
        I would appreciate the opportunity to meet with you to discuss my
        application at an interview. I have enclosed a copy of my resume for
        your consideration. I can be contacted at all times on the details
        provided above.
      </h5>
      <h5>Thank you for your consideration.</h5>
      <h5>[Your Name],</h5>
      <h5>[Phone Number],</h5>
    </div>
  </div>
</div>
